<!-- Profile Content -->
<div class="dashboard-content mt-4">
  <div class="container">
    <div class="">
      <ul class="dashborad-menus">
        <li>
          <a [routerLink]="routes.dashboard">
            <i class="feather-grid"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.link">
            <i class="feather-link"></i> <span>Create Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.mylisting">
            <i class="feather-list"></i> <span>My Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.domain">
            <i class="fa-solid fa-plus"></i> <span>My Domain</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.payment">
            <i class="fa-solid fa-cart-shopping"></i> <span>My Payment</span>
          </a>
        </li>
        <li class="disabled-link">
          <a [routerLink]="routes.profile">
            <i class="fa-solid fa-user"></i> <span>Profile</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="container" style="padding: 0">
      <div class="section-heading heading-eight">
        <div class="row align-items-center">
          <div class="container">
            <div>
              <ul
                class="dashborad-menus"
                style="
                  justify-content: center !important;
                  margin: 0 !important;
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 0;
                "
              >
                <li
                  [ngClass]="isShow ? 'active' : ''"
                  (click)="checkShow(true)"
                  style="cursor: pointer"
                >
                  <a> <i class="feather-link"></i> <span>Short Link</span> </a>
                </li>
                <li
                  (click)="checkShow(false)"
                  style="cursor: pointer"
                  [ngClass]="!isShow ? 'active' : ''"
                >
                  <a> <i class="feather-list"></i> <span>Fake Link</span> </a>
                </li>
              </ul>
              <ul
                class="dashborad-menus mt-4"
                style="
                  justify-content: center !important;
                  margin: 0 !important;
                  display: block;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                "
              >
                <div class="category-details" *ngIf="isShow === true">
                  <div class="row">
                    <div class="profile-content">
                      <div class="row dashboard-info">
                        <div class="col-lg-12 mb-form" >
                          <div class="profile-form">
                            <form
                              [formGroup]="formShort"
                              (ngSubmit)="registerLinkShort()"
                            >
                              <div class="form-group">
                                <label class="col-form-label"
                                  >Paste a long URL
                                  <span style="color: rgb(210, 82, 82)">
                                    *</span
                                  ></label
                                >
                                <div class="pass-group group-img">
                                  <span class="lock-icon"
                                    ><i class="feather-link"></i
                                  ></span>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter Original Link"
                                    formControlName="originalLink"
                                  />
                                  <div
                                    *ngIf="
                                      submittedShort &&
                                      fShort['originalLink'].invalid
                                    "
                                  >
                                    <div
                                      *ngIf="
                                        fShort['originalLink'].errors![
                                          'required'
                                        ]
                                      "
                                      class="error"
                                    >
                                      Paste a long URL is required
                                    </div>
                                    <div
                                      *ngIf="
                                        fFake['originalLink'].errors![
                                          'maxlength'
                                        ]
                                      "
                                      class="error"
                                    >
                                      Paste a long URL max 1000 character
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6">
                                  <div class="form-group">
                                    <label class="col-form-label"
                                      >Domain<span
                                        style="color: rgb(210, 82, 82)"
                                      >
                                        *</span
                                      ></label
                                    >
                                    <div class="pass-group group-img">
                                      <div class="filter-content form-group">
                                        <mat-form-field
                                          class="mat-custom-select w-100"
                                        >
                                          <mat-select
                                            formControlName="domain"
                                            placeholder="Select Domain"
                                          >
                                            <mat-option
                                              [value]="s.domainName"
                                              *ngFor="let s of domainSelecteds"
                                            >
                                              https://{{ s.domainName }}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </div>
                                      <div
                                        *ngIf="
                                          submittedShort &&
                                          fShort['domain'].invalid
                                        "
                                      >
                                        <div
                                          *ngIf="
                                            fShort['domain'].errors!['required']
                                          "
                                          class="error"
                                        >
                                          Select Domain is required
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="col-form-label"
                                      >Enter a back-half (optional)</label
                                    >
                                    <div class="group-img">
                                      <i class="feather-compass"></i>
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Enter Custom Alias"
                                        formControlName="aliasRegister"
                                      />
                                      <div
                                        *ngIf="
                                          submitted &&
                                          fShort['aliasRegister'].invalid
                                        "
                                      >
                                        <div
                                          *ngIf="
                                            fShort['aliasRegister'].errors![
                                              'minlength'
                                            ]
                                          "
                                          class="error"
                                        >
                                          Alias min 2 character
                                        </div>
                                        <div
                                          *ngIf="
                                            fShort['aliasRegister'].errors![
                                              'maxlength'
                                            ]
                                          "
                                          class="error"
                                        >
                                          Alias max 50 character
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row socialmedia-info mt-3">
                                <div class="col-lg-4">
                                  <div class="form-group">
                                    <div class="pass-group group-img d-flex">
                                      <div>
                                        <button
                                          class="category-btn"
                                          type="submit"
                                          style="padding: 12px"
                                        >
                                          Create Link
                                        </button>
                                        <button
                                          class="category-btn"
                                          type="button"
                                          style="
                                            padding: 12px;
                                            margin-left: 42px;
                                          "
                                          (click)="copyToClipboard()"
                                        >
                                          Copy Link
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="form-group">
                                    <div class="pass-group group-img d-flex">
                                      <input
                                        type="text"
                                        class="w-100"
                                        placeholder="Result link"
                                        [readonly]="true"
                                        formControlName="urlULink"
                                        [(ngModel)]="urlULink"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="category-details" *ngIf="isShow === false">
                  <div class="row">
                    <div class="profile-content">
                      <div class="row dashboard-info">
                        <div class="col-lg-12 mb-form" >
                          <div class="profile-form">
                            <form
                              [formGroup]="formFake"
                              (ngSubmit)="registerLink(content)"
                            >
                              <div class="form-group">
                                <label class="col-form-label"
                                  >Original Link
                                  <span style="color: rgb(210, 82, 82)">
                                    *</span
                                  ></label
                                >
                                <div class="pass-group group-img">
                                  <span class="lock-icon"
                                    ><i class="feather-link"></i
                                  ></span>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter Original Link"
                                    formControlName="originalLink"
                                  />
                                  <div
                                    *ngIf="
                                      submitted && fFake['originalLink'].invalid
                                    "
                                  >
                                    <div
                                      *ngIf="
                                        fFake['originalLink'].errors![
                                          'required'
                                        ]
                                      "
                                      class="error"
                                    >
                                      Original link is required
                                    </div>
                                    <div
                                      *ngIf="
                                        fFake['originalLink'].errors![
                                          'maxlength'
                                        ]
                                      "
                                      class="error"
                                    >
                                      Original link max 1000 character
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="col-form-label"
                                      >Title
                                      <span style="color: rgb(210, 82, 82)">
                                        *</span
                                      ></label
                                    >
                                    <div class="pass-group group-img">
                                      <span class="lock-icon"
                                        ><i class="feather-file-text"></i
                                      ></span>
                                      <input
                                        type="tel"
                                        class="form-control"
                                        placeholder="Enter Title"
                                        formControlName="title"
                                      />
                                      <div
                                        *ngIf="
                                          submitted && fFake['title'].invalid
                                        "
                                      >
                                        <div
                                          *ngIf="
                                            fFake['title'].errors!['required']
                                          "
                                          class="error"
                                        >
                                          Title is required
                                        </div>
                                        <div
                                          *ngIf="
                                            fFake['title'].errors!['maxlength']
                                          "
                                          class="error"
                                        >
                                          Title max 50 character
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="col-form-label"
                                      >Description<span
                                        style="color: rgb(210, 82, 82)"
                                      >
                                        *</span
                                      ></label
                                    >
                                    <div class="group-img">
                                      <i class="feather-life-buoy"></i>
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Enter Description"
                                        formControlName="description"
                                      />
                                      <div
                                        *ngIf="
                                          submitted &&
                                          fFake['description'].invalid
                                        "
                                      >
                                        <div
                                          *ngIf="
                                            fFake['description'].errors![
                                              'required'
                                            ]
                                          "
                                          class="error"
                                        >
                                          Description is required
                                        </div>
                                        <div
                                          *ngIf="
                                            fFake['description'].errors![
                                              'maxlength'
                                            ]
                                          "
                                          class="error"
                                        >
                                          Description max 50 character
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="col-form-label"
                                      >Enter a back-half (optional)</label
                                    >
                                    <div class="group-img">
                                      <i class="feather-compass"></i>
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Enter Custom Alias"
                                        formControlName="aliasRegister"
                                      />
                                      <div
                                        *ngIf="
                                          submitted &&
                                          fFake['aliasRegister'].invalid
                                        "
                                      >
                                        <div
                                          *ngIf="
                                            fFake['aliasRegister'].errors![
                                              'minlength'
                                            ]
                                          "
                                          class="error"
                                        >
                                          Alias min 2 character
                                        </div>
                                        <div
                                          *ngIf="
                                            fFake['aliasRegister'].errors![
                                              'maxlength'
                                            ]
                                          "
                                          class="error"
                                        >
                                          Alias max 50 character
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="col-form-label"
                                      >Thumbnail Image<span
                                        style="color: rgb(210, 82, 82)"
                                      >
                                        *</span
                                      ></label
                                    >
                                    <div>
                                      <input
                                        type="file"
                                        class="form-control"
                                        placeholder="Choose Thumbnail Image"
                                        formControlName="file"
                                        id="file"
                                        accept="image/*"
                                        (change)="onFileSelected($event)"
                                      />
                                      <div
                                        *ngIf="
                                          submitted && fFake['file'].invalid
                                        "
                                      >
                                        <div
                                          *ngIf="
                                            fFake['file'].errors!['required']
                                          "
                                          class="error"
                                        >
                                          Thumbnail image is required
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="col-form-label"
                                      >Domain<span
                                        style="color: rgb(210, 82, 82)"
                                      >
                                        *</span
                                      ></label
                                    >
                                    <div class="pass-group group-img">
                                      <div class="filter-content form-group">
                                        <mat-form-field
                                          class="mat-custom-select w-100"
                                        >
                                          <mat-select
                                            formControlName="domain"
                                            placeholder="Select Domain"
                                          >
                                            <mat-option
                                              [value]="s.domainName"
                                              *ngFor="let s of domainSelecteds"
                                            >
                                              https://{{ s.domainName }}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </div>
                                      <div
                                        *ngIf="
                                          submitted && fFake['domain'].invalid
                                        "
                                      >
                                        <div
                                          *ngIf="
                                            fFake['domain'].errors!['required']
                                          "
                                          class="error"
                                        >
                                          Select Domain is required
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="col-form-label"
                                      >Display Type (optional)</label
                                    >
                                    <div class="pass-group group-img">
                                      <div class="filter-content form-group">
                                        <mat-form-field
                                          class="mat-custom-select w-100"
                                        >
                                          <mat-select
                                            formControlName="displayType"
                                            placeholder="Select Display Type"
                                          >
                                            <mat-option value="video.other">
                                              Video
                                            </mat-option>
                                            <mat-option value="website">
                                              Website
                                            </mat-option>
                                            <mat-option value="article">
                                              Article
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row socialmedia-info mt-3">
                                <div class="col-lg-4">
                                  <div class="form-group">
                                    <div class="pass-group group-img d-flex">
                                      <div>
                                        <button
                                          class="category-btn"
                                          type="submit"
                                          style="padding: 12px"
                                        >
                                          Create Link
                                        </button>
                                        <button
                                          class="category-btn"
                                          type="button"
                                          style="
                                            padding: 12px;
                                            margin-left: 42px;
                                          "
                                          (click)="copyToClipboard()"
                                        >
                                          Copy Link
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="form-group">
                                    <div class="pass-group group-img d-flex">
                                      <input
                                        type="text"
                                        class="w-100"
                                        placeholder="Result link"
                                        [readonly]="true"
                                        formControlName="urlULink"
                                        [(ngModel)]="urlULink"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Profile Content -->


<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <h5>
      You have run out of click credits. Please proceed with the payment to
      continue.
    </h5>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn"
      style="background-color: #ececee; color: red"
      (click)="goToPayment()"
    >
      Go to Payment
    </button>
    <a
      class="nav-link header-reg"
      href="https://t.me/ulinkkkk"
      target="_blank"
      class="btn btn-light-success"
      >Contact us</a
    >
  </div>
</ng-template>
