.pointer{
  cursor: pointer;
}
.ref{
  color: #c10037;
  font-style: normal;
}
@media only screen and (max-width: 567px) {
  .dashborad-menus{
    margin-top: 78px!important;
  }
  ul li a{
    padding:11px !important
  }
  .mobile-profile{
    width: 100% !important;
  }
}
