<!-- Dashboard Content -->
<div class="dashboard-content mt-4">
  <div class="container">
    <div class="">
      <ul class="dashborad-menus">
        <li>
          <a [routerLink]="routes.dashboard">
            <i class="feather-grid"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.link">
            <i class="feather-link"></i> <span>Create Link</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="routes.mylisting">
            <i class="feather-list"></i> <span>My Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.domain">
            <i class="fa-solid fa-plus"></i> <span>My Domain</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.profile">
            <i class="fa-solid fa-user"></i> <span>Profile</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="dash-listingcontent dashboard-info">
      <div class="dash-cards card">
        <div class="card-body">
          <div class="listing-search">
            <div class="filter-content form-group">
              <div class="group-img">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search..."
                />
                <i class="feather-search"></i>
              </div>
            </div>
            <div class="sorting-div"></div>
          </div>
          <div class="table-responsive">
            <table
              matSort
              (matSortChange)="sortData($event)"
              class="listing-table datatable"
              id="listdata-table"
            >
              <thead>
                <tr>
                  <th mat-sort-header="img" class="no-sort">#</th>
                  <th mat-sort-header="img" class="no-sort">PageId</th>
                  <th mat-sort-header="details" class="no-sort">Details</th>
                  <th mat-sort-header="status">Status</th>
                  <th mat-sort-header="view">Click</th>
                  <th
                    mat-sort-header="Action"
                    class="text-center"
                    style="display: flex; justify-content: center !important"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of linkData; let i = index">
                  <td>
                    <div>
                      <span class="discount-amt">{{ i + 1 }}</span>
                    </div>
                  </td>
                  <td>
                    <div
                      class="listingtable-img"
                      style="display: flex; align-items: center"
                    >
                      <span class="discount-amt">{{ data.pageId }}</span>
                    </div>
                  </td>
                  <td>
                    <h6>
                      <a target="_blank"
                        style="color: #2a5bd7"
                        href="https://{{data.urlResult}}"
                        >{{ data.urlResult }}</a
                      >
                    </h6>
                    <div class="listingtable-rate">
                      <a href="https://{{data.urlOriginal}}" target="_blank" class="cat-icon">
                        {{ data.urlOriginal }}</a
                      >
                    </div>
                  </td>
                  <td style="text-align: center">
                    <span
                      [ngClass]="{ unpublish: data.isActive === true }"
                      class="status-text"
                    >
                      <i
                        class="feather-check-circle"
                        style="color: #22c55e"
                        *ngIf="data.isActive; else inactive"
                      ></i>
                      <ng-template #inactive>
                        <i class="feather-x" style="color: #22c55e"></i>
                      </ng-template>
                    </span>
                  </td>
                  <td style="text-align: center">
                    <span class="views-count">{{ data.totalClick }}</span>
                  </td>
                  <td>
                    <div class="action">
                      <a class="action-btn btn-view" (click)="viewStreamingClick()"><i class="feather-eye"></i
                      ></a>
                      <a href="javascript:void(0)" class="action-btn btn-edit"
                        ><i class="feather-edit-3"></i
                      ></a>
                      <a href="javascript:void(0)" class="action-btn btn-trash"
                        ><i class="feather-trash-2"></i
                      ></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="blog-pagination">
            <nav>
              <ul class="pagination">
                <li class="page-item previtem">
                  <a class="page-link" href="javascript:void(0)"
                    ><i class="fas fa-regular fa-arrow-left"></i> Prev</a
                  >
                </li>
                <li class="justify-content-center pagination-center">
                  <div class="pagelink">
                    <ul>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">1</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)"
                          >2 <span class="visually-hidden">(current)</span></a
                        >
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="page-item nextlink">
                  <a class="page-link" href="javascript:void(0)"
                    >Next <i class="fas fa-regular fa-arrow-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Dashboard Content -->
