td {
  padding: 0px 14px !important;
}

.centered-header {
  text-align: center !important;
  vertical-align: middle !important;
}

.listing-table th, .listing-table td {
  padding: 15px 15px;
}

.mat-column-myColumn{
  display: flex !important;
  justify-content: center !important; /* Left aligned*/
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#rotate-icon {
  animation: rotate 2s linear infinite;
}

td:hover {
  cursor: pointer;
}

.margin-btn {
  margin-right: 5px;
}
