<ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
    [template]="loadingTemplate"
  ></ngx-loading>
<div class="dashboard-content mt-4">
  <div class="container">
    <div class="">
      <ul class="dashborad-menus">
        <li>
          <a [routerLink]="routes.dashboard">
            <i class="feather-grid"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.link">
            <i class="feather-link"></i> <span>Create Link</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="routes.mylisting">
            <i class="feather-list"></i> <span>My Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.domain">
            <i class="fa-solid fa-plus"></i> <span>My Domain</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.profile">
            <i class="fa-solid fa-user"></i> <span>Profile</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="dash-listingcontent dashboard-info">
      <div class="dash-cards card">
        <div class="card-body">
          <div class="listing-search" style="justify-content: start">
            <div class="filter-content form-group" style="margin-bottom: 8px !important;">
              <div class="group-img">
                <input
                  style="padding: 12px; margin: 0px 1px"
                  type="text"
                  class="form-control"
                  placeholder="Search alias, original link, note.."
                  [(ngModel)]="searchValue"
                />
              </div>

              <!--<div class="form-group">
                                <div class="pass-group group-img">-->
                <!--                  <input-->
                <!--                    style="padding: 14px 15px 17px 35px"-->
                <!--                    class="form-control flatpickr-input"-->
                <!--                    type="text"-->
                <!--                    placeholder="Choose datepicker"-->
                <!--                    mwlFlatpickr-->
                <!--                    [allowInput]="true"-->
                <!--                    [convertModelValue]="true"-->
                <!--                    dateFormat="d/m/Y"-->
                <!--                    locale="de"-->
                <!--                    mode="range"-->
                <!--                    [(ngModel)]="selectedDate"-->
                <!--                  />-->
                <!--                  <span class="lock-icon"-->
                <!--                    ><i class="feather-calendar"></i-->
                <!--                  ></span>-->
                <!--                </div>
              </div>-->
            </div>
            <div>
<!--              <button class="category-btn btn-primary"-->
<!--                    type="button"-->
<!--                    style="padding: 12px; margin: 0px 1px"-->
<!--                    (click)="getTime()"-->
<!--                    [disabled]="!selectedDate"-->
<!--                  > Search-->
<!--                  </button>-->
              <button
                class="category-btn btn-primary"
                type="button"
                style="padding: 12px; margin: 0px 1px"
                (click)="loadingData()"
              >
                Search
              </button>
            </div>
            <div class="sorting-div"></div>
          </div>
          <div class="table-responsive">
            <table
              matSort
              (matSortChange)="sortData($event)"
              class="listing-table datatable"
              id="listdata-table"
            >
              <thead>
                <tr>
                  <th
                    mat-sort-header="img"
                    class="no-sort"
                  >
                    PageId
                  </th>
                  <th mat-sort-header="details" class="no-sort">Details</th>
                  <th mat-sort-header="status">Status</th>
                  <th mat-sort-header="view">Click</th>
                  <th mat-sort-header="lastModifiedDate" class="no-sort" style="padding: 0px">
                    Last Modified
                  </th>
                  <th
                    mat-sort-header="Action" style="padding-left: 55px;"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of linkData; let i = index">
                  <td>
                    <div
                      class="listingtable-img"
                      style="display: flex; align-items: center"
                    >
                      <span style="font-weight: bold; word-wrap: break-word">{{
                        data.pageId
                      }}</span>
                    </div>
                  </td>
                  <td>
                    <h6>
                      <a
                        target="_blank"
                        style="color: #2a5bd7"
                        href="{{ data.urlResult }}"
                        >{{ data.urlResult }}</a
                      >
                    </h6>
                    <div class="listingtable-rate">
                      <a
                        href="{{ data.urlOriginal }}"
                        target="_blank"
                        class="cat-icon"
                      >
                        {{ data.urlOriginal }}</a
                      >
                    </div>
                    <div *ngIf="data?.note" class="listingtable-rate" style="font-size: 13px; word-wrap: break-word">
                        <span style="text-decoration:underline; font-weight: bold">Note:</span> {{ data?.note }}
                    </div>
                  </td>
                  <td >
                    <span
                      [ngClass]="{ unpublish: data.isActive === true }"
                      class="status-text"
                    >
                      <i
                        class="feather-check-circle"
                        style="color: #22c55e"
                        *ngIf="data.isActive; else inactive"
                      ></i>
                      <ng-template #inactive>
                        <i class="feather-x" style="color: #ce082c"></i>
                      </ng-template>
                    </span>
                  </td>
                  <td >
                    <span class="views-count">{{ data.totalClick }}</span>
                  </td>
                  <td >
                    <span>{{
                      data.lastModifiedDate | date : "HH:MM dd/MM/YYYY"
                    }}</span>
                  </td>
                  <td>
                    <div class="action">
                          <button
                            class="btn btn-light-success margin-btn"
                            (click)="viewStreamingClick(content, data.pageId)"
                            ><i class="feather-activity"></i
                          ></button>
                          <button class="btn btn-light-warning margin-btn"
                                  (click)="editLink(popupUpdate, data.pageId)"
                            ><i class="feather-edit-3"></i
                          ></button>
                          <button class="btn btn-danger-light" (click)="hidePageId(popupDelete, data.pageId)">
                            <i class="feather-eye-off"></i>
                          </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <ngb-pagination
              [collectionSize]="total"
              [(page)]="page"
              [pageSize]="pagesize"
              (pageChange)="loadPage($event)"
              [maxSize]="maxSize"
            >
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Dashboard Content -->

<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <h5>
      <i id="rotate-icon" class="fas fa-spinner" style="color: #fe3408"></i>
      Streaming Click:
      <a style="color: #226db9" target="_blank" href="{{ urlResultULink }}">{{
        pageIdStreamingClick
      }}</a>
    </h5>
    <p style="font-size: 15px">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Note:</b> Click value to copy
    </p>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ip</th>
        <th scope="col">Time</th>
        <th scope="col">Location</th>
        <th scope="col">Bot</th>
        <th scope="col">Device Name</th>
        <th scope="col">Referral</th>
        <th scope="col">User Agent</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="dataStreamingClick.length == 0">
        <td colspan="7" style="text-align: center"><b>EMPTY CLICK</b></td>
      </tr>
      <tr *ngFor="let click of dataStreamingClick; index as i">
        <td scope="row" (click)="copyToClipboard(click?.ip)">
          {{ click?.ip }}
        </td>
        <td (click)="copyToClipboard(click?.accessTime)">
          {{ click?.accessTime | date : "HH:MM:ss" : "UTC" }}
        </td>
        <td
          (click)="
            copyToClipboard(
              (click?.city == null ? '' : click?.city + '/') +
                (click?.country == null ? '' : click?.country)
            )
          "
        >
          {{
            (click?.city == null ? "" : click?.city + "/") +
              (click?.country == null ? "" : click?.country)
          }}
        </td>
        <td>
          <i
            class="fa-solid fa-circle"
            [style.color]="click?.isBot ? '#cd042f' : '#00A656'"
          ></i>
        </td>
        <td (click)="copyToClipboard(click?.deviceName)">
          {{ click?.deviceName }}
        </td>
        <td (click)="copyToClipboard(click?.referer)">
          {{ click?.referer }}
        </td>
        <td (click)="copyToClipboard(click?.userAgent)">
          {{ click?.userAgent }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #popupUpdate role="document" let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <h5>
      Back-half:
      <a style="color: #226db9" target="_blank" href="{{ originUrlUpdateSource }}">{{
        pageIdUpdate
        }}</a>
    </h5>
    <div class="form-group row labelBold">
      <label for="status" class="col-sm-2 col-form-label">Status</label>
      <div class="col-sm-10" style="color: white">
        <button class="form-control btn"  [ngClass]="statusUpdate ? 'btn-success' : 'btn-danger'"
                id="status" style="font-weight: bold" (click)="statusUpdate = !statusUpdate">{{ statusUpdate ? 'Active' : 'Disable' }}</button>
      </div>
    </div>

    <div class="form-group row">
      <label for="originalLink" class="col-sm-2 col-form-label labelBold">Original Link</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="originalLink" placeholder="Original Link" [(ngModel)]="originalLinkUpdate">
      </div>
    </div>

    <div class="form-group row">
      <label for="note" class="col-sm-2 col-form-label labelBold">Note</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="note" placeholder="Note max 150 characters" maxlength="150" [(ngModel)]="noteUpdate">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="updateLink()">
      Update
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #popupDelete role="document" let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <h5>
      <i class="fa fa-exclamation-triangle" style="color: #fe3408"></i> Are you sure want to hide link?
    </h5>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="hideLink()">
      Hide Link
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>
