<div class="dashboard-content mt-4">
  <div class="container">
    <div class="">
      <ul class="dashborad-menus">
        <li>
          <a [routerLink]="routes.dashboard">
            <i class="feather-grid"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.link">
            <i class="feather-link"></i> <span>Create Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.mylisting">
            <i class="feather-list"></i> <span>My Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.domain">
            <i class="fa-solid fa-plus"></i> <span>My Domain</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.payment">
            <i class="fa-solid fa-cart-shopping"></i> <span>My Payment</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.profile">
            <i class="fa-solid fa-user"></i> <span>Profile</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="profile-content">
      <div class="row dashboard-info">
        <div class="col-lg-12">
          <div class="card dash-cards">
            <div class="card-header">
              <h4>My Payment</h4>
            </div>

            <div class="card-body" style="padding-top: 0px">
              <div class="profile-form">
                <form [formGroup]="myPaymentForm" (ngSubmit)="registerDomain()">
                  <div class="row">
                    <h5>Configure Personal Domain</h5>
                    <span style="font-style: italic; font-size: 13px"
                      >Step 1: Add DNS records with type and value below
                      <br />
                      <div style="margin: 5px 0 10px 25px">
                        <table id="customWithTable">
                          <tr>
                            <th>#</th>
                            <th>Host</th>
                            <th>Type</th>
                            <th>Value</th>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>*</td>
                            <td>A</td>
                            <td>123.30.234.128</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>@</td>
                            <td>A</td>
                            <td>123.30.234.128</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>www</td>
                            <td>CNAME</td>
                            <td>your-domain.com</td>
                          </tr>
                        </table>
                      </div>
                    </span>
                    <br />
                    <span
                      style="
                        font-style: italic;
                        font-size: 13px;
                        margin-top: 3px;
                      "
                      >Step 2: Add domain on u-link.asia and wait for maximum 5
                      minutes completed.</span
                    >

                    <div class="container text-center">
                      <div class="row align-items-center">
                        <div class="col-lg-4 col-md-5 mt-4">
                          <div class="form-group">
                            <div class="pass-group group-img">
                              <span class="lock-icon"
                                ><i class="feather-phone"></i
                              ></span>
                              <input
                                type="number"
                                class="form-control"
                                formControlName="phone"
                                placeholder="Enter your phone"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-5 mt-4">
                          <div class="form-group">
                            <div class="group-img">
                              <i class="fa-solid fa-money-bill"></i>
                              <input
                                type="number"
                                class="form-control"
                                formControlName="money"
                                appCurrencyInput
                                placeholder="Enter money"
                                (keyup)="calTotalClick()"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2 mt-4">
                          <div class="form-group">
                            <div class="group-img">
                              <i class="fa-solid fa-flask"></i>
                              <input
                                type="number"
                                [disabled]="true"
                                class="form-control"
                                appCurrencyInput
                                placeholder="Total click"
                                formControlName="totalClick"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="myPaymentForm.invalid"
                            id="customWithButton"
                          >
                            Payment
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="table-responsive mt-3">
                  <table
                    matSort
                    class="listing-table datatable"
                    id="listdata-table"
                  >
                    <thead>
                      <tr>
                        <th class="no-sort customHeight">#</th>
                        <th class="no-sort customHeight">Domain</th>
                        <th style="text-align: center" class="customHeight">
                          Status
                        </th>
                        <th
                          class="no-sort customHeight"
                          style="text-align: center"
                        >
                          Last Modified
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of domainAll; let i = index">
                        <td>
                          <div>
                            <span class="">{{ i + 1 }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span style="font-weight: bold">{{
                              data.domainName
                            }}</span>
                          </div>
                        </td>
                        <td style="width: 10%; text-align: center">
                          <span
                            [ngClass]="{ unpublish: data.isActive === true }"
                            class="status-text"
                            style="color: #22c55e"
                          >
                            <i
                              class="feather-check-circle"
                              style="color: #22c55e"
                              *ngIf="data.isActive; else inactive"
                            ></i>
                            <ng-template #inactive>
                              <i class="feather-x"></i
                            ></ng-template>
                          </span>
                        </td>
                        <td style="text-align: center; width: 20%">
                          <div>
                            <span class="">{{
                              data.lastModifiedDate | date : "HH:MM dd/MM/YYYY"
                            }}</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
    [template]="loadingTemplate"
  ></ngx-loading>
</div>
<!-- /Profile Content -->
