<div class="dashboard-content mt-4">
  <div class="container">
    <div class="">
      <ul class="dashborad-menus">
        <li>
          <a [routerLink]="routes.dashboard">
            <i class="feather-grid"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.link">
            <i class="feather-link"></i> <span>Create Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.mylisting">
            <i class="feather-list"></i> <span>My Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.domain">
            <i class="fa-solid fa-plus"></i> <span>My Domain</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.payment">
            <i class="fa-solid fa-cart-shopping"></i> <span>My Payment</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.profile">
            <i class="fa-solid fa-user"></i> <span>Profile</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="profile-content">
      <div class="row dashboard-info">
        <div class="col-lg-12">
          <div class="card dash-cards">
            <div class="card-header">
              <h4>My Payment</h4>
            </div>

            <div class="card-body" style="padding-top: 0px">
              <div class="profile-form">
                <form [formGroup]="myPaymentForm" (ngSubmit)="payment()">
                  <div class="row">
                    <h5>Thanh toán theo các bước sau: Chỉ hỗ trợ với chuyển khoản qua ứng dụng Momo</h5>
                    <span style="font-style: italic; font-size: 13px"
                      >Bước 1: Nhập số điện thoại Momo chuyển tiền và nhập tổng số tiền muốn nạp.
                    </span>
                    <br />
                    <span style="font-style: italic; font-size: 13px"
                    >Bước 2: Sau đó ấn button tạo thanh toán
                    </span>
                    <br />
                    <span
                      style="
                        font-style: italic;
                        font-size: 13px;
                        margin-top: 3px;
                      "
                    >Bước 3: Dùng tài khoản Momo với số điện thoại ở bước 1, chuyển tiền tới tài khoản <span style="font-weight: bold">Momo SĐT: 0989168454</span> </span
                    >
                    <span
                      style="
                        font-style: italic;
                        font-size: 13px;
                        margin-top: 3px;
                      "
                    >Bước 4: Đợi quá trình xử lý thanh toán tối đa khoảng 3 phút.</span
                    >
                    <span
                      style="
                        font-size: 13px;
                        margin-top: 3px;
                        color: #d81919;
                        font-weight: bold;
                      "
                    >Note: Nhấn vào button <a href="https://t.me/ulinkkkk" target="_blank">Contact us</a> để hỗ trợ(Click the <a href="https://t.me/ulinkkkk" target="_blank">Contact us</a> button for support)</span>
                    <div class="container text-center">
                      <div class="row align-items-center">
                        <div class="col-lg-4 col-md-5 mt-4">
                          <div class="form-group">
                            <div class="pass-group group-img">
                              <span class="lock-icon"
                                ><i class="feather-phone"></i
                              ></span>
                              <input
                                type="text"
                                class="form-control"
                                formControlName="phone"
                                placeholder="Enter your phone Momo"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-5 mt-4">
                          <div class="form-group">
                            <div class="group-img">
                              <i class="fa-solid fa-money-bill"></i>
                              <input
                                type="number"
                                class="form-control"
                                formControlName="money"
                                placeholder="Enter money"
                                (keyup)="calTotalClick()"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2 mt-4">
                          <div class="form-group">
                            <div class="group-img">
                              <i class="fa-solid fa-flask"></i>
                              <input
                                type="number"
                                readonly="true"
                                class="form-control"
                                placeholder="Total click"
                                formControlName="totalClick"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="myPaymentForm.invalid"
                            id="customWithButton"
                          >
                            Tạo Thanh Toán
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="table-responsive mt-3">
                  <table
                    matSort
                    class="listing-table datatable"
                    id="listdata-table"
                  >
                    <thead>
                      <tr>
                        <th class="no-sort customHeight">#</th>
                        <th class="no-sort customHeight">Phone Partner</th>
                        <th class="no-sort customHeight">Username</th>
                        <th class="no-sort customHeight">TranId</th>
                        <th class="no-sort customHeight">PartnerName</th>
                        <th class="no-sort customHeight">Amount</th>
                        <th class="no-sort customHeight">Status</th>
                        <th class="no-sort customHeight">Last Modified</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of paymentAll; let i = index">
                        <td>
                          <div>
                            <span class="">{{ i + 1 }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span>{{ data.phonePartner }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span>{{ data.username }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span>{{ data.tranId }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span>{{ data.partnerName }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span>{{ data.amount }}</span>
                          </div>
                        </td>
                        <td>
                          <ng-container *ngIf="data.status===null; else elseBlock1">
                            <button
                              type="button"
                              class="custom-btn"
                              style="
                                background-color: #50a5f1;"
                            >
                            <i id="rotate-icon" class="fas fa-spinner" ></i>
                              Chờ Thanh Toán
                            </button>
                          </ng-container>

                          <ng-template #elseBlock1>
                            <ng-container *ngIf="data.status===2; else elseBlock2">
                              <button
                              type="button"
                              class="custom-btn"
                              style="
                                background-color: #34c38f;"
                            >
                            <i class="feather-check-circle"></i>
                              Thành Công
                            </button>
                            </ng-container>

                            <ng-template #elseBlock2>
                              <button
                              type="button"
                              class="custom-btn"
                              style="
                                background-color: #ed1c24;"
                            >
                              <i class="feather-x"></i>
                              Thất Bại
                            </button>
                            </ng-template>
                          </ng-template>
                        </td>
                        <td>
                          <div class="text-center">
                            <span>{{
                              data.lastModifiedDate | date : "HH:MM dd/MM/YYYY"
                            }}</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
    [template]="loadingTemplate"
  ></ngx-loading>
</div>
<!-- /Profile Content -->

<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-hidden="true"></button>
  </div>
  <div class="modal-body"></div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger">Close</button>
  </div>
</ng-template>
