<div class="dashboard-content mt-4">
  <div class="container">
    <div class="">
      <ul class="dashborad-menus">
        <li>
          <a [routerLink]="routes.dashboard">
            <i class="feather-grid"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.link">
            <i class="feather-link"></i> <span>Create Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.mylisting">
            <i class="feather-list"></i> <span>My Link</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.domain">
            <i class="fa-solid fa-plus"></i> <span>My Domain</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.payment">
            <i class="fa-solid fa-cart-shopping"></i> <span>My Payment</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.profile">
            <i class="fa-solid fa-user"></i> <span>Profile</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="profile-content">
      <div class="row dashboard-info">
        <div class="col-lg-12">
          <div class="card dash-cards">
            <div class="card-header">
              <h4>My Payment</h4>
            </div>
            <div class="card-body" style="padding-top: 10px">
              <div>
                <table>
                  <tr>
                    <th>Total number of deposits</th>
                    <th class="px-3">Total amount paid</th>
                    <th class="px-3">Total</th>
                    <th>Last payment date</th>
                  </tr>
                  <tr>
                    <td>{{ inforMoneyPayment?.number }}</td>
                    <td class="px-3">{{ inforMoneyPayment?.totalCharge }}</td>
                    <td class="px-3">{{ inforMoneyPayment?.total }}</td>
                    <td>
                      {{
                        inforMoneyPayment?.lastModifiedDate
                          | date : "HH:MM dd/MM/YYYY"
                      }}
                    </td>
                  </tr>
                </table>
              </div>
              <hr />
              <div class="profile-form">
                <form [formGroup]="myPaymentForm" (ngSubmit)="payment()">
                  <div class="row">
                    <h5>
                      Thanh toán theo các bước sau: Chỉ hỗ trợ với chuyển khoản
                      qua ứng dụng Momo
                    </h5>
                    <span style="font-style: italic; font-size: 13px"
                      >Bước 1: Nhập số điện thoại Momo chuyển tiền và nhập tổng
                      số tiền muốn nạp.
                    </span>
                    <br />
                    <span style="font-style: italic; font-size: 13px"
                      >Bước 2: Sau đó ấn button tạo thanh toán
                    </span>
                    <br />
                    <span
                      style="
                        font-style: italic;
                        font-size: 13px;
                        margin-top: 3px;
                      "
                      >Bước 3: Dùng tài khoản Momo với số điện thoại ở bước 1,
                      chuyển tiền tới tài khoản
                      <span style="font-weight: bold"
                        >Momo SĐT: 0989168454</span
                      >
                    </span>
                    <span
                      style="
                        font-style: italic;
                        font-size: 13px;
                        margin-top: 3px;
                      "
                      >Bước 4: Đợi quá trình xử lý thanh toán tối đa khoảng 3
                      phút.</span
                    >
                    <span
                      style="
                        font-size: 13px;
                        margin-top: 3px;
                        color: #d81919;
                        font-weight: bold;
                      "
                      >Note: Nhấn vào button
                      <a href="https://t.me/ulinkkkk" target="_blank"
                        >Contact us</a
                      >
                      để hỗ trợ(Click the
                      <a href="https://t.me/ulinkkkk" target="_blank"
                        >Contact us</a
                      >
                      button for support)</span
                    >
                    <div class="container text-center">
                      <div class="row align-items-center">
                        <div class="col-md-5 mt-4">
                          <div class="filter-content form-group">
                            <mat-form-field class="mat-custom-select w-100">
                              <mat-select
                                formControlName="payment"
                                placeholder="Select package"
                              >
                                <mat-option
                                  *ngFor="let item of packages"
                                  [value]="item.id"
                                  (change)="getValuePackage(item)"
                                >
                                  {{ item.packageName }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="myPaymentForm.invalid"
                            id="customWithButton"
                          >
                            Register Package
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="table-responsive mt-3">
                  <table
                    matSort
                    class="listing-table datatable"
                    id="listdata-table"
                  >
                    <thead>
                      <tr>
                        <th class="no-sort customHeight">#</th>
                        <th class="no-sort customHeight">Package Name</th>
                        <th class="no-sort customHeight">Type</th>
                        <th class="no-sort customHeight">Active At</th>
                        <th class="no-sort customHeight">Expire At</th>
                        <th class="no-sort customHeight">Created By</th>
                        <th class="no-sort customHeight">Created Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of packagesData; let i = index">
                        <td>
                          <div>
                            <span class="">{{ i + 1 }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span>{{
                              data.registerPackageName ?? "Package Free"
                            }}</span>
                          </div>
                        </td>
                        <td>
                          <button
                            *ngIf="data.isFree"
                            type="button"
                            class="custom-btn"
                            style="background-color: #50a5f1"
                          >
                            Free
                          </button>
                          <button
                            *ngIf="!data.isFree"
                            type="button"
                            class="custom-btn"
                            style="background-color: #34c38f"
                          >
                            Paid
                          </button>
                        </td>
                        <td>
                          <div>
                            <span>{{
                              data.activeAt | date : "HH:MM dd/MM/YYYY"
                            }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span>{{
                              data.expireAt | date : "HH:MM dd/MM/YYYY"
                            }}</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span>{{ data.createdBy }}</span>
                          </div>
                        </td>
                        <td style="text-align: center">
                          <div>
                            <span>{{
                              data.createdDate | date : "HH:MM dd/MM/YYYY"
                            }}</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
    [template]="loadingTemplate"
  ></ngx-loading>
</div>
<!-- /Profile Content -->

<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-hidden="true"></button>
  </div>
  <div class="modal-body"></div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger">Close</button>
  </div>
</ng-template>
