<header class="header">
  <div
    class="marquee-container"
    style="
      background: #c10037;
      height: 43px;
      color: white;
      display: flex;
      align-items: center;
    "
  >
    <span class="marquee-text">
      <b
        >📣 Từ ngày 8/8/2023: Tất cả các tài khoản đang sử dụng miễn phí sẽ bị
        giới hạn 20 link và 1200 click trên mỗi tài khoản, vui lòng vào 'My
        Payment' thanh toán và tiếp tục sử dụng dịch vụ. Mọi ý kiến góp ý, cần
        hỗ trợ vui lòng click vào button  <a href="https://t.me/ulinkkkk" style="text-decoration: underline;color:white">Contact US</a> bên dưới</b
      >
    </span>
    <span class="marquee-text">
      <b
        >📣 Starting from August 8, 2023: All free accounts will be limited
        to 20 links and 1200 clicks per account. Please go to 'My Payment' to
        make a payment and continue using the service. For any feedback or
        assistance, please click the <a href="https://t.me/ulinkkkk" style="text-decoration: underline;color:white">Contact US</a> button below</b
      >
    </span>
  </div>
  <div class="container">
    <!-- Header -->

    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header" [routerLink]="'/'" style="cursor: pointer">
        <a (click)="toggleSidebar()" id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a
          class="navbar-brand logo section-search section-search-eight aos"
          style="font-weight: 800; font-size: 28px; color: #c10037"
        >
          ULINK
        </a>
        <a (click)="logout()" *ngIf="nav == false" class="log-out">
          <i class="feather-log-out"></i
        ></a>
      </div>
      <div class="main-menu-wrapper">
        <ul class="main-nav">
          <ng-container *ngFor="let mainMenus of header">
            <ng-container *ngIf="mainMenus.separateRoute == true">
              <li [class.active]="base === mainMenus.base">
                <a [routerLink]="mainMenus.route">{{ mainMenus.tittle }}</a>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>

      <ul class="nav header-navbar-rht" *ngIf="nav == true">
        <li class="nav-item">
          <a
            class="nav-link header-reg"
            href="https://t.me/ulinkkkk"
            target="_blank"
            class="btn btn-light-success"
            >Contact us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link header-reg" [routerLink]="routes.signup"
            >Sign Up</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link header-login" [routerLink]="routes.login">
            Sign In</a
          >
        </li>
      </ul>

      <ul class="nav header-navbar-rht" *ngIf="nav == false">
        <li class="nav-item">
          <a
            class="nav-link header-reg"
            href="https://t.me/ulinkkkk"
            target="_blank"
            class="btn btn-light-success"
            >Contact us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link header-reg"
            (click)="logout()"
            style="cursor: pointer"
            >Logout</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
