<footer class="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6">
            <div class="copyright-text">
              <p class="mb-0">All Copyrights Reserved &copy; 2023 - Ulink.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li>
                  <a [routerLink]="routes.home">Privacy </a>
                </li>
                <li>
                  <a [routerLink]="routes.home">Faq </a>
                </li>
                <li>
                  <a [routerLink]="routes.home">Terms</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
