<footer class="footer">
<!--  <div class="footer-top aos" data-aos="fade-up" data-aos-duration="1200">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-3 col-md-6">-->
<!--          <div class="footer-widget">-->
<!--            <div class="footer-logo">-->
<!--              <a-->
<!--                class="navbar-brand logo section-search section-search-eight aos"-->
<!--                [routerLink]="'/'"-->
<!--                style="font-weight: 800; font-size: 28px; color: #c10037"-->
<!--              >-->
<!--                ULINK-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="footer-content"></div>-->
<!--            <div class="social-icon">-->
<!--              <ul>-->
<!--                <li>-->
<!--                  <a href="javascript:void(0)" target="_blank"-->
<!--                    ><i class="fab fa-facebook-f"></i>-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="javascript:void(0)" target="_blank"-->
<!--                    ><i class="fab fa-twitter"></i>-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="javascript:void(0)" target="_blank"-->
<!--                    ><i class="fab fa-instagram"></i-->
<!--                  ></a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="javascript:void(0)" target="_blank"-->
<!--                    ><i class="fab fa-linkedin-in"></i-->
<!--                  ></a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-2 col-md-6">-->
<!--          <div class="footer-widget footer-menu">-->
<!--            <h2 class="footer-title">About us</h2>-->
<!--            <ul>-->
<!--              <li>-->
<!--                <a [routerLink]="routes.home">Our product</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Documentation</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a [routerLink]="routes.home">Our Services</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Get Started Us</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a [routerLink]="routes.home">Contact Us</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-2 col-md-6">-->
<!--          <div class="footer-widget footer-menu">-->
<!--            <h2 class="footer-title">Quick links</h2>-->
<!--            <ul>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Market Place</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Documentation</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Customers</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Carriers</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a [routerLink]="routes.home">Our Blog</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-2 col-md-6">-->
<!--          <div class="footer-widget footer-menu">-->
<!--            <h2 class="footer-title">Top Cities</h2>-->
<!--            <ul>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Manhatten</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Los Angeles</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Houston</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Chicago</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="javascript:void(0)">Alabama</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-6">-->
<!--          <div class="footer-widget">-->
<!--            <h2 class="footer-title">Communication</h2>-->
<!--            <div class="footer-contact-info">-->
<!--              <div class="footer-address">-->
<!--                <img src="assets/img/call-calling.svg" alt="Callus" />-->
<!--                <p>-->
<!--                  <span>Call Us</span> <br />-->
<!--                  +017 123 456 78-->
<!--                </p>-->
<!--              </div>-->
<!--              <div class="footer-address">-->
<!--                <img src="assets/img/sms-tracking.svg" alt="Callus" />-->
<!--                <p>-->
<!--                  <span>Send Message</span> <br />-->
<!--                  contact@example.com-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="footer-bottom">
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6">
            <div class="copyright-text">
              <p class="mb-0">All Copyrights Reserved &copy; 2023 - Ulink.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li>
                  <a [routerLink]="routes.home">Privacy </a>
                </li>
                <li>
                  <a [routerLink]="routes.home">Faq </a>
                </li>
                <li>
                  <a [routerLink]="routes.home">Terms</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
